<ion-header>
  <ion-toolbar></ion-toolbar> <!-- to keep the required height for the content start -->
</ion-header>

<ion-content>
  <app-viewtype-segment></app-viewtype-segment>
  <ion-list *ngIf="adventures">
    <ion-item>
      <ion-label class="search-input-label" position="floating">
        <ion-icon name="search"></ion-icon>
        <ion-text>Search By Name</ion-text>
      </ion-label>
      <ion-input (ionChange)="filter($event)"></ion-input>
    </ion-item>
    <ion-item *ngFor="let adventure of visibleAdventures">
      <ion-card>
        <ion-card-header (click)="goToActions(adventure.id)">
          <ion-card-title>
            <ion-text>{{ adventure.name }}</ion-text>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card-title>
          <ion-card-subtitle>{{ adventure.description }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
<!--          ASK about ideas for video and audio -->
          <img *ngIf="adventure.imageUrls?.length"
               [src]="adventure.imageUrls[0]"/>
          <ion-button *ngIf="!adventure.downloaded" class="ion-margin-bottom" fill="clear">
            <ion-icon class="ion-padding-end" name="cloud-download"></ion-icon>
          </ion-button>
          <ion-button class="ion-margin-bottom" fill="clear" (click)="goToMap()">
            <ion-icon class="ion-padding-end" name="map"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
