<div class="container">
  <ion-text color="primary" style="text-align: center">
    <h1 style="padding-top: 100px">Explore interactively</h1>
  </ion-text>

  <ion-card>

    <ion-item>
      <ion-label position="floating">
        <ion-icon></ion-icon>
        <ion-text>Username</ion-text>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon></ion-icon>
        <ion-text>Password</ion-text>
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="login()">
        Log in
      </ion-button>
    </ion-item>

  </ion-card>
</div>
