<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ adventure?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="adventure">
  <div class="ion-padding-start">
    <ion-text>
      <h1>{{ adventure.description }}</h1>
    </ion-text>
    <ion-text>
      <h5>Action {{ selectedActionIndex + 1 }}/{{ adventure.actions.length }}</h5>
    </ion-text>
  </div>
  <div>
    <ion-button>
      <ion-icon name="map"></ion-icon>
      <ion-text>Show Adventure on map</ion-text>
    </ion-button>
    <ion-slides [options]="slideOpts"
                (ionSlideWillChange)="handleSlideChange($event)">
      <ion-slide *ngFor="let action of adventure.actions">
        <app-action
          [action]="action"
        ></app-action>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment scrollable
                 [value]="selectedActionIndex"
                 (ionChange)="handleSegmentChange($event)">
      <ion-segment-button *ngFor="let action of adventure.actions; index as i"
                          [value]="i">
        <ion-text>{{ i + 1 }}</ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
