ion-header ion-toolbar {
  --background: var(--ion-color-medium);
}

.start-button {
  display: flex;
  justify-content: center;

  ion-button {
    width: 80%;
  }
}

.adventure-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-footer ion-toolbar {
  --background: #aee6ffb3;
}

ion-content {
  --background: var(--ion-color-light);
}

ion-footer {
  ion-button {
    width: 50%;
    height: 40px;
  }
}
