<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ adventure?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="adventure; else emptyContentTpl">
  <div class="ion-padding-top start-button" *ngIf="inProcessAdventureId === undefined">
    <ion-button (click)="startAdventure()">Start</ion-button>
  </div>
  <div class="ion-padding-top start-button" *ngIf="selectedActionIndex === adventure.actions.length - 1">
    <ion-button (click)="finishAdventure()">Finish</ion-button>
  </div>
  <div class="ion-padding-start adventure-header">
    <ion-text color="secondary">
      <h1>{{ adventure.description }}</h1>
    </ion-text>
    <ion-button fill="clear">
      <ion-icon name="map"></ion-icon>
    </ion-button>
  </div>
  <div>
    <ion-slides [options]="slideOpts"
                (ionSlideWillChange)="handleSlideChange($event)">
      <ion-slide *ngFor="let action of adventure.actions">
        <app-action
          [action]="action"
        ></app-action>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ng-template #emptyContentTpl>
  <ion-content style="height: 110%">
    <div style="height: 100%; display: flex; justify-content: center; align-items: center">
      <ion-text color="secondary" style="font-size: 24px">Nothing in process.</ion-text>
    </div>
  </ion-content>
</ng-template>

<ion-footer *ngIf="adventure">
  <ion-toolbar>
    <ion-segment scrollable
                 [value]="selectedActionIndex"
                 (ionChange)="handleSegmentChange($event)">
      <ion-segment-button *ngFor="let action of adventure.actions; index as i"
                          [value]="i">
        <ion-text>{{ i + 1 }}</ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
