<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Explore interactive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="adventures">
        <ion-icon name="search"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="download-outline"></ion-icon>
        <ion-label>Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="in-process">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>In process</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
