<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geo. Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="adventures">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Adventures</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
